.in {
    position: absolute;
    bottom: 20px;
    color: white;
    font-size: 22px;
    letter-spacing: 1px;
  }
  
  .bottom {
    text-align: center;
    color: #adb5bd;
    padding-top: 150px;
    font-size: 14px;
    letter-spacing: 1px;
  }