
// Services 
.heading {
    text-align: center;
}

.heading h2 {
    font-size: 60px;
    color: white;
    letter-spacing: 0.5px;
    margin-bottom: 8rem;
}

.heading p {
    color: #9bacc4;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 8rem;
}

// Box services
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.7rem;
    align-items: center;
    margin-top: 5rem;

    .in {
        position: absolute;
        bottom: 20px;
        color: white;
        font-size: 22px;
        letter-spacing: 1px;
      }

    .box {
        @include box;
    }

    .box1 {
        @include box-gradient;

        &:hover {
            @include box-hover;
        }
    }

    .box2 {
        @include box-gradient;

        &:hover {
            @include box-hover;
        }
    }

    .box3 {
        @include box-gradient;

        &:hover {
            @include box-hover;
        }
    }

    .box4 {
        @include box-gradient;

        &:hover {
            @include box-hover;
        }
    }

   
    
}
