* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

body {
  min-height: 1600px;
  background: #000;
  color: white;
}

header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

header:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 80%, #000 100%);
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1400px;
  z-index: 100000;
}

header img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

#last {
  z-index: 10;
}

#text {
  position: relative;
  color: white;
  z-index: 2;
  font-size: 12em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 12px;
  font-family: "Kaushan Script", sans-serif;
  font-weight: 100;
}

.ab-text {
  padding: 100px 20%;
}

.heading {
  text-align: center;
}

.heading h2 {
  font-size: 60px;
  color: white;
  letter-spacing: 0.5px;
  margin-bottom: 8rem;
}

.heading p {
  color: #9bacc4;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  grid-gap: 1.7rem;
  align-items: center;
  margin-top: 5rem;
}
.container .in {
  position: absolute;
  bottom: 20px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}
.container .box {
  height: 340px;
  width: auto;
  border-radius: 10px;
  overflow: hidden;
  background: rgb(66, 65, 65);
  transition: all 0.8s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .box .in a {
  color: white;
  text-decoration: none;
  background-color: rgba(155, 172, 196, 0.4196078431);
  padding: 10px 25px;
  border-radius: 20px;
}
.container .box1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 75%, #000 100%);
}
.container .box1:hover {
  transform: translateY(20px);
  transition: all 0.5s ease;
  opacity: 0.6;
}
.container .box1:hover .in a {
  color: white;
  background-color: rgb(2, 131, 148);
}
.container .box2 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 75%, #000 100%);
}
.container .box2:hover {
  transform: translateY(20px);
  transition: all 0.5s ease;
  opacity: 0.6;
}
.container .box2:hover .in a {
  color: white;
  background-color: rgb(2, 131, 148);
}
.container .box3 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 75%, #000 100%);
}
.container .box3:hover {
  transform: translateY(20px);
  transition: all 0.5s ease;
  opacity: 0.6;
}
.container .box3:hover .in a {
  color: white;
  background-color: rgb(2, 131, 148);
}
.container .box4 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.7) 75%, #000 100%);
}
.container .box4:hover {
  transform: translateY(20px);
  transition: all 0.5s ease;
  opacity: 0.6;
}
.container .box4:hover .in a {
  color: white;
  background-color: rgb(2, 131, 148);
}

footer {
  padding: 40px 0;
  background: linear-gradient(black, rgb(27, 27, 27));
}
footer h1 {
  text-align: center;
  font-family: monospace;
  font-weight: 900;
  color: rgb(231, 228, 228);
}
footer p {
  margin: 2rem;
  text-align: center;
  color: #ccc;
}
footer .footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 30px;
  letter-spacing: 3px;
}
footer .footer .box-info {
  display: block;
  width: 50%;
  grid-template-columns: repeat(1, 2fr);
  align-items: center;
  text-align: center;
  padding: 30px;
}
footer .footer .box-info h2 {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 100;
  color: rgb(253, 253, 253);
}
footer .footer .box-info ul {
  padding: auto;
  margin-top: 2rem;
}
footer .footer .box-info li {
  max-width: 100%;
  width: 50px;
  height: 50px;
  display: inline-block;
  align-items: center;
  margin: 10px;
  list-style: none;
  font-size: 30px;
  padding: 9px;
  border: 1px solid rgba(58, 58, 58, 0.5);
  border-radius: 30px;
  background: rgb(4, 74, 83);
  transition: all 0.45s ease;
}
footer .footer .box-info li:hover {
  border: 1px solid rgb(248, 250, 248);
  background: rgb(2, 131, 148);
  transform: translateY(-10px);
}
footer .footer .box-info a {
  color: #ccc;
}
footer .footer .suport {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  padding: 10px;
}
footer .footer .suport .suport-item {
  color: #ccc;
}
footer .footer .suport .suport-item h2 {
  margin-bottom: 1rem;
  font-family: monospace, sans-serif;
  font-size: 20px;
  font-weight: 100;
  transition: all 0.45s ease;
}
footer .footer .suport h2:hover {
  color: rgb(2, 131, 148);
}
footer .footer .suport .suport-item ul li {
  padding: 5px;
  list-style: none;
  font-size: 15px;
}
footer .footer .suport .suport-item ul li a {
  font-family: monospace, sans-serif;
  text-decoration: none;
  color: #696868;
  transition: all 0.45s ease;
}
footer .footer .suport ul li a:hover {
  color: rgb(2, 131, 148);
}/*# sourceMappingURL=main.css.map */